body{background-color: #1E1E1E}
*{padding:0;margin: 0;list-style:none;}
.banner-box{
  width: 800px;
  height:340px;
  margin:100px auto;
  position:relative;
  text-align:center;
  overflow: hidden;
  .img{
    width:5000px;
    position:absolute;
    top:0;
    left:0;
    li{
      float:left;
    }
  }
  .li{
    width:100%;
    position:absolute;
    left:0;
    bottom:10px;
    li{
      width:10px;
      height:10px;
      background:#ccc;
      border-radius:50%;
      display:inline-block;
      margin:0 3px;
      cursor:pointer;
    }
    .index{background:rgb(240,20,20);width: 30px;border-radius:10px;}
  }
  .but{
    position: absolute;
    top:50%;
    margin-top:-30px;
    width:38px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size: 30px;
    background:rgba(0,0,0,0.5);
    color:#fff;font-family: '宋体';
    cursor:pointer;
    display: none;

  }
  &:hover .but{
    display:block;
  }
  .but-left{
    left:0;
  }
  .but-right{right:0;}
  .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: rgba(240,20,20,0.5);
  }
}
